<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div>
        <h2>Products</h2>
        <div>
            <h4 *ngFor="let product of products">
                {{product.name}}
                <p *ngIf="product.description">
                    {{product.description}}
                </p>

                <button type="button" (click)=send()>
                    Send
                </button>
            </h4>
        </div>
    </div>

    <mat-slide-toggle checked="true">Slide me!</mat-slide-toggle> -->


</body>

</html>