<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Table Component</h2>

    <nav>
        <ul>
            <li><a routerLink="table/test">test from child a</a></li>
            <li><a routerLink="table/profile-editor">profile-editor from child b</a></li>
        </ul>
    </nav>

    <!-- <nav>
        <a class="button" routerLink="/test" routerLinkActive="activebutton">Test</a> |
        <a class="button" routerLink="/table" routerLinkActive="activebutton">Table</a> |
        <a class="button" routerLink="/profile-editor" routerLinkActive="activebutton">Profile Edit</a>
    </nav> -->
    <router-outlet></router-outlet>

</body>

</html>